.notice
	.centered
		.icon
		.subtitle Métropolis - Star Wars
		.title.with-font C-3P0
		.content Le design de C-3PO dans Star Wars possède une troublante ressemblance avec l'androïde.

		%a.button-link{ :href => find_movies_path(:skip => true) } Découvrir