.movie
	/ .movie-scope.with-font{ href: '/' }
	/ 	SC
	/ 	%span.blue> 0
	/ 	PE

	/ %img{ src: '/assets/finder-found-picto.png'}
	/ .found Nous vous conseillons

	%h1.movie-title.with-font
		= @movie.title

	.movie-author
		= @movie.author

	.movie-year
		= @movie.year

	.movie-actions
		%a.movie-more.button-link{ href: more_movie_path(@movie) }
			En savoir +

		%a.movie-watch.button-link{ href: watch_movie_path(@movie) }
			Lecture du film

	%a.movie-new-search{ href: find_movies_path }
		nouvelle recherche
