<div class="player-wrapper">
    <video class="player" id="player" controls>
        <source src="/medias/film.mp4" type="video/mp4">
    </video>

    <div class="player-controls">
        <button id="play-pause-button" class="play" title="Play" onclick="togglePlayPause()">Play</button>
        <button title="Play" onclick="toggleFastRewind()"><<</button>
        <button  title="Play" onclick="toggleFastForward()">>></button>

        <button class="get-code-button" title="Get code" >Get code</button>
    </div>
</div>

<script>
	window.onload = function () {
        api.beginConnection(function () {
            console.log('connected')
             document
            .querySelectorAll('.get-code-button')[0]
            .addEventListener('click', function () {
                api.beginConnection(function () {
                    api.send(BEGIN_CODE_ASSOCIATION, {})
                })
            });
        });
    };

    document.addEventListener('DOMContentLoaded', function () {
        initializeMediaPlayer()
    });
</script>