.player-wrapper
    %video.player#player(controls)
        %source{ src: "/medias/film.m4v", type: 'video/mp4' }

    .player-controls
        %button#play-pause-button.play{ onclick: 'togglePlayPause()' } Play
        %button{ onclick: 'toggleFastRewind()' } <<
        %button{ onclick: 'toggleFastForward()' } >>

        %button.get-code-button Get code

    .notice-flash

    - if current_user
        :javascript
            var FACEBOOK_ID = "#{current_user.uid}";
    
    %script
        var CHAPTERS = [];
        - for chapter in @movie.chapters
            CHAPTERS[#{chapter.number}] = #{chapter.timecode};

    :javascript
        $(function () {
            api.beginConnection(function () {
                console.log('connected')
                if (typeof FACEBOOK_ID != 'undefined') {
                    api.beginConnection(function () {
                        api.send(BEGIN_FACEBOOK_ASSOCIATION, { 'facebook_id': FACEBOOK_ID });
                    })
                } else {
                     document
                    .querySelectorAll('.get-code-button')[0]
                    .addEventListener('click', function () {
                        api.beginConnection(function () {
                            api.send(BEGIN_CODE_ASSOCIATION, {})
                        })
                    });
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            initializeMediaPlayer()
        });
