.app-overlay
    .close

    .info
        .sync-picto
        .title.with-font
            - if current_user
                En attente de synchronisation
            -else
                Synchronisation
        .text Synchronisez le lecteur web avec votre tablette ou smartphone via l'application SCOPE.

        .subtitle 1. Téléchargez l'application Scope
        .appstore-link
            %img{ src: '/assets/appstore.png' }


        - if current_user
            .subtitle 2. Identifiez-vous avec Facebook sur l'application
        - else
            .subtitle 2. Entrez ce code d'identification sur l'application

    - if current_user
        :javascript
            $(function() {
                animateSyncPicto();
            });
    - else
        .code
            .code-display
        %a.skip-fb{ href: '/auth/facebook' } Passer cette étape, s'identifier via Facebook


.player-wrapper
    %video.player#player(controls)
        %source{ src: "/medias/film.m4v" , type: 'video/mp4' }
    

    .player-controls{ style:'display:none;'}
        %button#play-pause-button.play{ onclick: 'togglePlayPause()' } Play
        %button{ onclick: 'toggleFastRewind()' } <<
        %button{ onclick: 'toggleFastForward()' } >>

        %button.get-code-button Get code

    .progression-tooltip
    .progression-wrapper
        .progression#player-progression

    .notice-flash.notice-flash-themes
    .notice-flash.notice-flash-anecdotes
    .notice-flash.notice-flash-analyses
    .notice-flash.notice-flash-impact
    .notice-flash.notice-flash-comment

    - if current_user
        :javascript
            var FACEBOOK_ID = "#{current_user.uid}";
    
    %script
        var CHAPTERS = [];
        - for chapter in @movie.chapters
            CHAPTERS[#{chapter.number}] = #{chapter.timecode};

    :javascript
        $(function () {
            api.beginConnection(function () {
                console.log('connected')
                if (typeof FACEBOOK_ID != 'undefined') {
                    api.beginConnection(function () {
                        api.send(BEGIN_FACEBOOK_ASSOCIATION, { 'facebook_id': FACEBOOK_ID });
                    })
                } else {
                    
                    api.beginConnection(function () {
                        api.send(BEGIN_CODE_ASSOCIATION, {})
                    });
                    
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            initializeMediaPlayer()
        });
