.player-wrapper
    %video.player#player(controls)
        %source{ src: '/medias/film.mp4', type: 'video/mp4' }

    .player-controls
        %button#play-pause-button.play{ onclick: 'togglePlayPause()' } Play
        %button{ onclick: 'toggleFastRewind()' } <<
        %button{ onclick: 'toggleFastForward()' } >>

        %button.get-code-button Get code

:javascript
    window.onload = function () {
        api.beginConnection(function () {
            console.log('connected')
             document
            .querySelectorAll('.get-code-button')[0]
            .addEventListener('click', function () {
                api.beginConnection(function () {
                    api.send(BEGIN_CODE_ASSOCIATION, {})
                })
            });
        });
    };

    document.addEventListener('DOMContentLoaded', function () {
        initializeMediaPlayer()
    });
