.finder.finder-mood
	%h1.finder-title.with-font Vous avez besoin...

	
	.mood-line
		.line

		.line-elements
			.line-element#line-laugh De rire
			.line-element#line-scared De frissons
			.line-element#line-escape De vous évader
			.line-element#line-action D'action
			.line-element#line-emotions D'émotions

	.next
		= link_to '', find_movies_path(step: 2)

	.mood-buttons
		.button-link#mood-laugh{ data: { mood: 'laugh' } } De rire
		.button-link#mood-scared{ data: { mood: 'scared' } } De frissons
		.button-link#mood-escape{ data: { mood: 'escape' } } De s'évader
		.button-link#mood-action{ data: { mood: 'action' } } D'action
		.button-link#mood-emotions{ data: { mood: 'emotions' } } D'émotions
