.finder.finder-movies
	%h1.finder-title.with-font Avez-vous aimé...

	.related-movies
		.movie
			.poster
				%img.poster-img{ src: '' }
		.no{ onclick: 'finderShiftMovie(); finderPushMovie();'}

		.line-no

		.yes{ onclick: 'finderShiftMovie(); finderPushMovie();'}

		.line-yes

		/.line-ball

		%a.not-seen Je ne l'ai pas vu

		/.next
		/	= link_to '', find_movies_path(step: 3)


%script
	var MOVIES = [];
	var data = [];
	- for movie in @related_movies
		data = { id: "#{movie.id}", image: "#{movie.image}" };
		MOVIES.push(data);
