.finder.finder-movies
	%h1.finder-title.with-font Avez-vous aimé...

	.related-movies
		- for i in 1..5
			.movie{ :id => "movie-#{i}" }
				.poster
					%img.poster-img
		.no

		.line-no

		.yes

		.line-yes

		.next
		= link_to 'Suivant', find_movies_path(step: 3)