@font-face {
    font-family: 'TwoFaced';
    src: url('/assets/twofaced-webfont.eot');
    src: url('/assets/twofaced-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/twofaced-webfont.woff') format('woff'),
         url('/assets/twofaced-webfont.ttf') format('truetype'),
         url('/assets/twofaced-webfont.svg#twofaced_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: asset-url('aller_lt-webfont.eot');
    src: asset-url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('aller_lt-webfont.woff') format('woff'),
         asset-url('aller_lt-webfont.ttf') format('truetype'),
         asset-url('aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Aller-Bd';
    src: asset-url('aller_bd-webfont.eot');
    src: asset-url('aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('aller_bd-webfont.woff') format('woff'),
         asset-url('aller_bd-webfont.ttf') format('truetype'),
         asset-url('aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "aller_it";
    src: asset-url('aller_it.ttf');
}

@font-face {
    font-family: "aller_light";
    src: asset-url('aller_light.ttf');
}