// Generic styles

$scope_blue: #04e5e8;

body, html {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Aller', sans-serif;
}

a {
	text-decoration: none;
}

.with-font {
	font-family: 'TwoFaced', sans-serif;
}

.blue {
	color: $scope_blue;
}

.button-link {
	color: white;
	border: 1px solid $scope_blue;
	text-transform: uppercase;
	padding: 10px;
	text-decoration: none;			
}

.navbar {
	padding: 10px 0 6px 0;
	border-bottom: 1px solid #4e4e4e;
	z-index: 200;
	position: fixed; top: 0; left: 0;
	background: #161e26;
	width: 100%;


	a {
		color: white;
		text-transform: uppercase;
		margin: 0 8px 0 8px;
		font-size: 11px;
		position: relative; bottom: 0px;
		border-left: 1px solid white;
		padding: 0 15px 0 15px;
	}

	a.active {
		border-bottom: 2px solid $scope_blue;
	}

	a.blue { color: $scope_blue; }
	
	a.nav-scope {
		bottom: 0;
		color: white;
		font-size: 30px;
		padding-left: 20px;
		border-left: 0px;
		margin-right: 20px;	
	}

	.nav-right {
		float: right;
		position: relative; top: 0px; right: 25px; padding: 18px 0 0 35px;
		background: asset-url('navbar-profile.png') no-repeat left top;
		height: 28px;

		a { border: none; color: $scope_blue; position: relative; bottom: 5px;}
	}

	.nav-search {
		display: inline;
		position: relative; bottom: 1px; left: 25px;
		

		form { display: inline; }

		input {
			height: 20px;
			width: 220px;

			background-color: transparent;
			
			border: none;
			border-bottom: 1px solid #fff;
			border-radius: 1px;
			text-transform: uppercase;
			padding: 4px 4px 4px 0;
			color: white;
			font-size: 11px;
			outline: none
		}

		.submit { position: relative; top: 12px; }
	}
}

.navbar.no-border { border: none; }