// Generic styles

$scope_blue: #04e5e8;


body, html {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Aller', sans-serif;
}

a {
	text-decoration: none;
}

.with-font {
	font-family: 'TwoFaced', sans-serif;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; 
}

.blue {
	color: $scope_blue;
}

.button-link {
	color: white;
	border: 1px solid $scope_blue;
	text-transform: uppercase;
	padding: 10px;
	text-decoration: none;			
}

.navbar {
	padding: 10px 0 6px 0;
	border-bottom: 1px solid #4e4e4e;
	z-index: 200;
	position: fixed; top: 0; left: 0;
	background: #181b1e;
	width: 100%;
	height: 45px;


	a {
		color: #5a5e64;
		text-transform: uppercase;
		margin: 0 8px 0 8px;
		font-size: 13px;
		position: relative; bottom: 0px;
		border-left: 1px solid #eaeaea;
		padding: 0 12px 0 25px;
		transition: color 400ms linear;
	}

	a:hover { color: #fff; }

	a.active {
		color: white;
	}

	a:nth-child(2) {
		background: asset-url('nav-movies-arrow.png') no-repeat right 50%;
		padding-right: 20px;
	}

	a:nth-child(4) {
		border-right: 1px solid #eaeaea;
	}

	a.blue { color: $scope_blue; }
	
	a.nav-scope {
		letter-spacing: 1.5px;
		bottom: -4px;
		color: white;
		font-size: 30px;
		padding-left: 20px;
		border-left: 0px;
		margin-right: 20px;	
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.current.current-movies { width: 60px; height: 3px; background: $scope_blue; position: absolute; z-index: 20; left: 218px; bottom: 0; }
	.current.current-find { width: 140px; height: 3px; background: $scope_blue; position: absolute; z-index: 20; left: 340px; bottom: 0; }

	.nav-right {
		float: right;
		position: relative; top: 0px; right: 35px; padding: 20px 35px 0 0;
		background: asset-url('navbar-profile.png') no-repeat right top;
		height: 28px;

		a { border: none; color: $scope_blue; position: relative; bottom: 5px; font-size: 13px; }
	}

	.nav-search {
		display: inline;
		position: relative; bottom: 2px; left: 25px;
		

		form { display: inline; }

		input {
			height: 16px;
			width: 220px;

			background-color: transparent;
			
			border: none;
			border-bottom: 1px solid #5a5e64;
			border-radius: 1px;
			text-transform: uppercase;
			padding: 4px 4px 0px 0;
			color: #fff;
			font-size: 12px;
			outline: none;
			font-family: 'Aller', sans-serif;
		}

		::-webkit-input-placeholder{
			color: #5a5e64;
			font-family: 'Aller', sans-serif;
		}

		::-moz-placeholder {
			color: #5a5e64;
			font-family: 'Aller', sans-serif;
		}

		::-ms-input-placeholder {
			color: #5a5e64;
			font-family: 'Aller', sans-serif;
		}

		.submit { position: relative; top: 8px; }
	}
}

.navbar.no-border { border: none; }