// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$scope_blue: #04e5e8;

/****************************
		MOVIE / SHOW
****************************/

.movie {
	text-align: center;
	text-transform: uppercase;
	padding-top: 80px;

	.movie-author, .movie-year {
		font-size: 22px;
		width: 450px;
		margin: auto;
		padding: 25px 0 25px 0;
	}

	.movie-scope {
		bottom: 0;
		color: white;
		font-size: 30px;
		padding-bottom: 60px;
	}

	h1.movie-title {
		font-size: 82px;
		margin: 20px 0;
	}

	.movie-author {
		border-bottom: 1px solid white;
	}

	.movie-year {
		border-top: 1px solid white;
	}

	.movie-actions {
		margin: 50px auto 0 auto;
		width: 650px;


		.movie-more, .movie-watch {
			width: 250px;
			margin: 15px;
			display: inline-block;
		}

	}

	.movie-new-search {
		display: block;
		text-transform: none;
		color: $scope_blue;
		margin-top: 25px;
	}
}


/****************************
		MOVIE / MORE
****************************/

div.movie-more {
	padding-top: 0;
	height: 100%;
	min-height: 2000px; // dirty, to remove
	background: #eee;

	.hidden-nav {
		position: relative; z-index: 150;
		width: 100%;
		height: 50px;
		background: #232323;
		border-bottom: 1px solid $scope_blue;
		text-align: center;
		top: 0px;
	}

	.movie-more-head {
		background: #000;
		padding-top: 45px;

		.movie-author, .movie-year { border: none; padding: 0; font-size: 18px; }
		h1.movie-title { margin: 0; font-size: 60px; }

		.movie-more-nav {
			width: 600px;
			height: 70px;
			margin: 40px auto 0 auto;

			div {
				float: left;
				width: 200px;
			}

			.button-link {
				display: block;
				font-size: 12px;
				width: 130px;
				margin: auto;
				height: 15px;
				padding: 6px;
			}
		}
	}

	

	.movie-more-content {
		.synopsis {
			h2 { color: red; font-size: 27px; letter-spacing: 3px;}
			p { height: 250px; }
		}

		.trailer {
			width: 100%; height: 100%;
			background: #000;
		}

		.discover-more { text-transform: uppercase; position: absolute; bottom: 20px; left: 0; width: 100%; }
		.discover-more a { color: black; } 
	}
}

/****************************
		MOVIE FINDER
****************************/

.finder {
	text-align: center;
	margin-top: 100px;

	h1 {
		text-transform: uppercase;
	}

	.mood-buttons {

		text-align: center;
		width: 800px;
		margin: auto;

		.button-link {
			cursor: pointer;
			width: 120px;
			float: left;
			margin-right: 15px;
		}

	}
}

.player-wrapper {
	width: 100%;
	height: 100%;

	video {
		width: 100%;
		height: 90%;
	}
}