// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$scope_blue: #04e5e8;

/****************************
		MOVIE / SHOW
****************************/

.movie {
	text-align: center;
	text-transform: uppercase;
	padding-top: 280px;
	background: asset-url('movie-bg.png') no-repeat center -50px fixed, #000;
	background-size: cover;
	width: 100%; height: 100%;



	.line-left {
		position: absolute; top: calc(34% + 100px); height: 1px; background-color: #a5a8ac; width: 35%;
	}
	.line-right {
		position: absolute; top: calc(34% + 100px); right: 300px; height: 1px; background-color: #a5a8ac; width: 18%;
	}

	.find-another {
		color: $scope_blue; font-size: 11px; text-transform: uppercase;
		position: absolute; right: 150px; top: calc(34% + 80px); font-weight: bold;
		line-height: 14px; letter-spacing: 1px;
		text-align: left;
	}

	.found { padding-top: 10px; font-family: 'Aller-Bd'; font-size: 14px; color: #888; }

	.movie-author, .movie-year {
		font-size: 25px;
		width: 450px;
		margin: auto;
		font-family: 'Aller-Bd', sans-serif;
	}

	.movie-scope {
		bottom: 0;
		color: white;
		font-size: 30px;
		padding-bottom: 60px;
	}

	h1.movie-title {
		font-size: 56px;
		margin: 40px 0 0 0;
		color: #f0004e;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.movie-year { font-size: 15px; }


	.movie-actions {
		margin: 50px auto 0 auto;
		width: 650px;


		.movie-more, .movie-watch {
			width: 150px;
			margin: 12px;
			font-weight: bold;
			display: inline-block;
			font-size: 12px;
			height: 10px;
			padding-top: 6px;
		}

	}

	.movie-new-search {
		display: block;
		text-transform: none;
		color: $scope_blue;
		margin-top: 25px;
	}
}


/****************************
		MOVIE / MORE
****************************/

.movie-more-nav {
	width: 600px;
	height: 100px;
	margin: 100px auto 0 auto;
	display: none;

	div {
		float: left;
		width: 200px;
		padding-top: 45px;
	}

	.doc { background: asset-url('movie-nav-doc.png') no-repeat center top; }
	.watch { background: asset-url('movie-nav-watch.png') no-repeat center top; }
	.social { background: asset-url('movie-nav-social.png') no-repeat center top; }

	.button-link {
		display: block;
		font-size: 12px;
		width: 130px;
		margin: auto;
		height: 15px;
		padding: 6px;
	}
}

div.movie-more {
	padding-top: 55px;
	height: 100%;
	width: 100%;
	min-height: 2000px; // dirty, to remove
	background: #eee;

	

	.movie-more-head {
		background-color: #18202b;
		width: 100%;
		height: 20%;
		padding-top: 45px;
		background: url(/assets/movie-bg.png) no-repeat center -50px fixed, black;
		background-size: cover;

		.movie-author, .movie-year { border: none; padding: 0; font-size: 16px; }
		.movie-author { font-size: 26px; }
		.movie-year { margin-top: 10px; }
		h1.movie-title { margin: 0; font-size: 70px; }

		
	}

	
}

.hidden-nav {
		position: fixed; z-index: 150;
		width: 100%;
		height: 50px;
		background: #071528;
		border-bottom: 1px solid #b7babe;
		text-align: center;
		top: 0px;
		padding-top: 10px;

		.hidden-nav-title {
			position: absolute;  left: 30px; top: 18px;
			text-transform: uppercase;
			color: #fff;
			font-size: 19px;
			cursor: pointer;
		}

		.hidden-nav-wrapper {
			width: 600px;
			margin: auto;

			a { float: left; margin: 5px 80px 0 80px; display: block; width: 40px; height: 40px; }
			a.doc { background: asset-url('movie-nav-doc.png') no-repeat center center; }
			a.watch { background: asset-url('movie-nav-watch.png') no-repeat center center; }
			a.social { background: asset-url('movie-nav-social.png') no-repeat center center; }
		}
	}

.movie-more-content {
	display: none;
	width: 100%;
	background-color: #f9f8f8;
	position: relative;
	height: 2000px;
	.synopsis {

		width: 500px; margin: auto; height: 700px;
		h2 { padding-top: 10px; color: #888; font-size: 27px; letter-spacing: 1px;}
		.content { height: 250px; text-transform: none; color: black; font-size: 14px; line-height: 20px; }
	}

	.trailer {
		width: 100%; height: 100%;
		background: #000;
	}

	.discover-more {
		width: 100px; height: 80px;
		background: asset-url('/assets/discover-more.png') no-repeat center;
		margin: 20px auto; cursor: pointer;
	}
}

/****************************
		MOVIE FINDER
****************************/

* { overflow: hidden; }

.movie-finder {
	height: 100%;
	width: 100%;
	background: asset-url('finder-bg.png') no-repeat center center; 
	background-size: cover;
	-webkit-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}

.movie-found {
	position: absolute;
	left: 300%; top: 0;
	padding-top: 12%;


	.movie-author, .movie-year { border: none; padding: 0; font-size: 16px; }
	.movie-author { font-size: 26px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
	.movie-year { margin-top: 10px; }
	h1.movie-title { margin: 0; font-size: 65px; }

	.movie-actions {
		position: absolute; width: 100%; top: calc(34% + 75px); margin: 0 auto;
	 }
}

.finder {

	text-align: center;
	padding-top: 12%;
	height: 100%;
	width: 100%;
	
	

	h1 {
		text-transform: uppercase;
		margin-top: 5px;
		font-size: 21px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.finder-subtitle { text-transform: uppercase; font-size: 15px; color: #888; }

	.mood-buttons {

		text-align: center;
		width: 900px;
		margin: 40px auto 0 auto;

		.button-link {
			cursor: pointer;
			width: 140px;
			float: left;
			margin-right: 15px;
			font-size: 14px;
			text-transform: none;
			height: 12px;
			padding-top: 4px;
		}

	}

	.mood-line {
		width: 100%;
		position: absolute; top: 34%; padding-top: 100px;

		.line {
			background: #636b75;
			height: 1px;
			width: 100%;
			margin: 0 0 0 100px;
			
		}

		.line-elements {
			width: 1120px;
			margin: auto;
			position: relative; bottom: 70px; left: 30px;
			text-align: center;
		}

		.line-element {
			cursor: pointer;
			opacity: 0;
			width: 140px; height: 80px;
			
			padding-top: 90px;
			font-size: 14px;
			float: left;
			
			margin-right: 80px;
		}

		#line-emotions { background: asset-url('mood-emotions.png') no-repeat center top, asset-url('finder-mood-ball.png') no-repeat center 65px; }
		#line-escape { background: asset-url('mood-escape.png') no-repeat center top, asset-url('finder-mood-ball.png') no-repeat center 65px; }
		#line-scared { background: asset-url('mood-scared.png') no-repeat center top, asset-url('finder-mood-ball.png') no-repeat center 65px; }
		#line-action { background: asset-url('mood-action.png') no-repeat center top, asset-url('finder-mood-ball.png') no-repeat center 65px; }
		#line-laugh { background: asset-url('mood-laugh.png') no-repeat center top, asset-url('finder-mood-ball.png') no-repeat center 65px; }
	}

	

	.related-movies, .related-facts {

		.movie, .fact {
			position: absolute; top: calc(34% - 40px);
			padding: 0;
			background: none;
			height: 280px;
		}

		.fact { text-align: center;
				width: 100%; }

		.circle-wrapper {
			position: absolute; z-index: 0; top: calc(34% - 61px); left: 0;
			width: 100%;
			.circle {
				width: 316px; height: 316px;
				margin: auto;
				background: asset-url('samples/finder-circle.png') no-repeat center;
				transition: all 500ms ease-in;
			}
		}

		
		.content {
			position: relative; bottom: 210px;
			width: 250px;
			margin: auto;

			.fact-title { width: 240px; color: #f0004e; font-size: 15px; text-transform: uppercase; padding-top: 15px; }
			.fact-text { color: black; padding: 5px 15px; font-size: 14px; }
		}
		

		.line-ball {
			width: 12px; height: 12px; background: asset-url('finder-line-ball.png') no-repeat center center; position: absolute; top: calc(34% + 94px); 
		}

		#movie-1 { display: block; }

		.controls {
			width: 100%; position: absolute; top: 62%;
			text-align: center;
			

			div {
				margin-right: 55px; display: inline-block; cursor: pointer; width: 53px; height: 70px; padding-top: 70px; text-align: center; font-size: 14px;
			}

			.yes {  margin-right: 0px; background: asset-url('controls-sprite.png') no-repeat -52px top; }
			.no {  background: asset-url('controls-sprite.png') no-repeat left top; }
			.not-seen { background: asset-url('controls-sprite.png') no-repeat right top; }

		}

		
		.line-yes { position: absolute; right: 0px; top: calc(34% + 100px); height: 1px; width: 34%; background: #636b75; }
		.line-no { position: absolute; left: 0px; top: calc(34% + 100px); height: 1px; width: 34%; background: #636b75; }


	}

	.next a {
		position: absolute; top: calc(34% + 75px); right: 35px;
		width: 62px; height: 85px;
		display: block;
		background: asset-url('finder-next.png') no-repeat center center;
	}

	.quit {
		width: 33px; height: 33px;
		background: asset-url('back.png') no-repeat;
		position: absolute; top: 80px; left: 15px;
		cursor: pointer;
	}
}

.finder-mood { position: absolute; left: 0%;  top: 0; }
.finder-movies { position: absolute; left: 100%;  top: 0; }
.finder-facts { position: absolute; left: 200%; top: 0; }

.player-wrapper {
	width: 100%;
	height: 100%;
	background: #000;

	video {
		width: 100%;
		height: 90%;
	}
}

.notice-flash {
	position: absolute; top: 20px; right: 20px; z-index: 255;
	width: 40px; height: 40px; 
	display: none;
}

.notice-flash-impact { background: asset-url('notif-picto-impact.png') no-repeat center; }
.notice-flash-analyses { background: asset-url('notif-picto-analyses.png') no-repeat center; }
.notice-flash-themes { background: asset-url('notif-picto-themes.png') no-repeat center; }
.notice-flash-anecdotes { background: asset-url('notif-picto-anecdotes.png') no-repeat center; }
.notice-flash-comment { background: asset-url('notif-picto-comment.png') no-repeat center; }


.finder-progression {
	width: 100%;
	height: 60px;
	position: absolute; bottom: -6px; left: 0;

	.progress-percent { font-size: 20px; position: relative; top: 10px; }

	.progress-bar {
		background: $scope_blue;
		height: 8px; width: 4%;
		margin-top: 18px;
		padding-right: 40px;
	}
}

.scroll-slide {
	width: 50%; position: fixed; z-index: 140;
	height: 100%;
	background: #888;
	background-size: cover;
}

.scroll-slide-left-a {
	left: 0;
	top: -95%;
	background: asset-url('scroll-slide-left-a.jpg') no-repeat center top;
	background-size: cover;
}

.scroll-slide-left-b {
	left: 0;
	top: -95%;
	background: asset-url('scroll-slide-left-b.jpg') no-repeat center top;
	background-size: cover;
}

.scroll-slide-right-a {
	right: 0;
	bottom: -100%;
	background: asset-url('scroll-slide-right-a.jpg') no-repeat center top;
	background-size: cover;
}

.scroll-slide-right-b {
	right: 0;
	bottom: -100%;
	background: asset-url('scroll-slide-right-b.jpg') no-repeat center top;
	background-size: cover;
}

.notice-display {
	width: 100%;
	height: 300px;
	position: fixed; top: 32%; left: 0;
	z-index: 145;
	display: none;
}

.notice-display-a {
	background: asset-url('notice-a.png') no-repeat center;
}
.notice-display-b {
	background: asset-url('notice-b.png') no-repeat center;
}

.scroll-slide-next {
	width: 100%;
	height: 80px;
	background: asset-url('scroll-next.png') no-repeat center;
	position: fixed; bottom: 50px; left: 0;
	z-index: 145;
	display: none;
	cursor: pointer;
}

.related-bg {
	width: 100%; height: 100%; position: absolute;
}

.related-bg.inglorious-bg {
	background: asset-url('samples/inglorious.png.jpg');
	background-size: cover;
	z-index: -1;
}

.related-bg.element-bg {
	background: asset-url('samples/5e-element.png.jpg');
	background-size: cover;
	z-index: -2;
}
.related-bg.blade-bg {
	background: asset-url('samples/blade.png.jpg');
	background-size: cover;
	z-index: -3;
}
.related-bg.curiosity-bg {
	background: asset-url('samples/curiosity.png.jpg');
	background-size: cover;
	z-index: -4;
}
.related-bg.foxconn-bg {
	background: asset-url('samples/foxconn.png.jpg');
	background-size: cover;
	z-index: -5;
}
.related-bg.google-bg {
	background: asset-url('samples/google.png.jpg');
	background-size: cover;
	z-index: -6;
}
.little-ball-a {
	width: 4px; height: 4px;
	background: #f6f6f6;
	border-radius: 10px;
	position: absolute; top: calc(34% + 100px); left: 100px; z-index: 30;
}

.little-ball-b {
	width: 4px; height: 4px;
	background: #f6f6f6;
	border-radius: 10px;
	position: absolute; top: calc(34% + 100px); left: 34%; z-index: 30;
}

.little-ball-c {
	width: 4px; height: 4px;
	background: #f6f6f6;
	border-radius: 10px;
	position: absolute; top: calc(34% + 100px); right: 34%; z-index: 30;
}


.app-overlay {

	width: 100%; height: 100%; position: absolute; top: 55px; left: 0;
	z-index: 50;
	background: asset-url('app-overlay-bg.png') no-repeat center;
	background-size: cover;

	.close {
		background: asset-url('close.png') no-repeat center;
		width: 100px; height: 100px;
		position: absolute; right: 0px; top: 0px;
	}

	.info {
		width: 350px;
		margin: 100px auto;
		text-align: center;
		padding-top: 40px;
		background: asset-url('sync.png') no-repeat center top;

		.title { text-transform: uppercase; font-size: 26px; letter-spacing: 3px; -webkit-font-smoothing: antialiased; }
		.text { font-family: 'Aller', sans-serif; font-size: 14px; color: #888888; margin-top: 10px; }
		.appstore-link { margin-top: 100px; }
		.text-facebook { margin-top: 80px; }
	}
}