// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$scope_blue: #04e5e8;

body, html {
	background: #071528;
	color: white;
	width: 100%;
	height: 100%;
	font-family: 'Aller', sans-serif;
	padding: 0; margin: 0;
}

.home {
	width: 100%; height: 100%;
	position: absolute; top: 0;
	background: #000 asset-url('home-bg.png') no-repeat center center;
	background-size: cover;

	.home-top {
		width: 100%; height: 180px;
		background: #181b1e;
	}

	.home-bottom {
		width: 100%; height: 230px;
		background: #181b1e asset-url('page-layout-bottom.png') repeat-x center 105px;
		position: absolute; bottom: 0;

		.home-actions {
			background:  #181b1e;
			width: 750px;
			margin-top: 100px;
		}
	}

	.home-title {
		width: 600px;
		text-align: center;
		margin: 40px auto 0 auto;
		font-size: 70px;

		a { color: white; }
	}

	.home-subtitle {
		@extend .home-title;
		margin-top: 0px;
		font-size: 14px;
		color: #7a7c83;
		
		text-transform: uppercase;
	}

	.home-intro {
		width: 600px;  margin: 20px auto 0 auto; font-size: 14px; line-height: 22px; text-align: center;
	}

	.home-actions {
		text-transform: uppercase;
		width: 800px;
		margin: 80px auto 0 auto;
		text-align: center;

		a#sign_in {
			font-size: 14px;
			padding: 6px 14px 8px 14px;
			background: $scope_blue;
			color: black;
			display: block;
			margin: 20px auto;
			width: 260px; 
			font-family: 'Aller-Bd', sans-serif;
		}
	}

	.button-link {
		display: inline-block;
		width: 160px;
		margin: 0 30px 0 30px;
		font-size: 12px;
		font-weight: bold;
		height: 12px; padding-top: 8px;
	}

	.home-username {
		color: white; font-family: 11px;
		display: block; margin-bottom: 10px; text-transform: none;

		a { color: white; }
	}
}